@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.description h3 {
  font-weight: 600;
  font-size: 24px;
  color: #242535;
}

.description .quote {
  padding: 32px;
  border-radius: 12px;
  background-color: #f6f6f7;
  font-style: italic;
  color: #181a2a;
  font-size: 24px;
  line-height: 32px;
  border-left: 4px solid;
  border-color: #e8e8ea;
}

.description-dark h3 {
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

.description-dark .quote {
  padding: 32px;
  border-radius: 12px;
  background-color: #242535;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  border-left: 4px solid;
  border-color: #e8e8ea;
}

@media (min-width: 100px) {
  .description h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .description .quote {
    padding: 10px;
    font-size: 18px;
  }

  .description-dark h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .description-dark .quote {
    padding: 10px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .description h3 {
    font-weight: 600;
    font-size: 24px;
  }

  .description .quote {
    padding: 32px;
    font-size: 24px;
  }

  .description-dark h3 {
    font-weight: 600;
    font-size: 24px;
  }

  .description-dark .quote {
    padding: 32px;
    font-size: 24px;
  }
}

.editor h2 {
  font-size: 24px;
}

.editor ol {
  list-style: decimal;
  padding-left: 30px;
}

.editor ul {
  list-style: circle;
  padding-left: 30px;
}
